#container {
  width: 95%;
  background-color:#C5AFD1;
  margin:0 auto;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 2em;
}
h2 {
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 0
}
p {
  font-size: .75em;

}
#bodycopy{
  font-family: "century gothic", helvetica, sans-serif;
}
