body{
  background-color: #404550;
}

a {
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 90%;
  background-color: #f0e6e7;
  margin:0 auto;
  padding-top: 5px;
  margin-bottom: 10%;
  text-align: center;
  color:#8A0030;
  flex: 1 100%;
  padding: 10px;
}

h1 {
  font-family:'Slabo 27px', serif;
  font-size: 2em;
  color: black;
}

h2 {
  font-family: 'Slabo 27px', serif;
  margin-top: 10px;
  color: black;
}

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

article{
  margin-left:5px;
}

.main{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.nav{
  padding: 0;
  display: flex;
  flex-flow: column;
}

.nav li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav a:link, a:visited{
  display: block;
  color: #8A0030;
  background-color: #FF7682;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family:'Open Sans', sans-serif;
}

.nav a:hover, a:active {
  background-color: #FFAAAA;
}

.aside{
  font-family: 'Open Sans', sans-serif;
}

#footer {
  text-align: right;
  color: #8A0030;
  font-family:'Open Sans', sans-serif;
  font-size: .8em;
  border-top: 3px solid #FF7682;
}

#links a:hover, a:active {
  color:#FF7682;
}
img {
  border-style: none;
  text-align: center;
}

a:link {
  color: #8A0030;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  max-width:900px;
  /*text-align:center;*/
}

@media (min-width:600px){
  .nav{
    flex-flow:row;
    justify-content: center;
  }
  .aside{
    background-color:#FF7682;
    padding: 2px;
  }
}

.aside{
  background-color:#FF7682;
  padding: 2px;
}

@media (min-width:600px){
    .aside{
      flex:1 auto;
    }
  .main{
      flex:3 0px;
      align-content: center;
    }

    .aside-1{
      order: 1;
    }

    .main{
      order: 2;
    }

    .aside-2{
      order:3;
    }

    #footer{
      order: 4;
    }

    .main{
      display:flex;
      flex-flow: row;
    }
}

@media (min-width:800px){
  .nav{
    flex-flow:row-wrap;
    justify-content: flex-start;
  }
  .aside{
    background-color:#FF7682;
    padding: 2px;
  }
}

.aside{
  background-color:#FF7682;
  padding: 2px;
}

@media (min-width:800px){
    .aside{
      flex:1 auto;
      background-color: #ff7682;
      flex-flow: column;
    }
  .main{
      flex:3 0px;
      background-color: #f0e6e7;
      flex-flow: column;
    }

    .aside-1{
      order: 2;
      display: none;
    }

    .main{
      order: 1;
    }

    .aside-2{
      order:3;
    }

    #footer{
      order: 4;
    }

    .main{
      display:flex;
      flex-flow: row-wrap;
    }
}
