body{
  background-color: #d1d1e0
}

#container {
  width: 95%;
  background-color: #ce99ff;
  margin:0 auto;
  padding-top: 5px;
  margin-bottom: 10%;
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 2em;
  color: #ffffff;
}
h2 {
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 0
}
p {
  font-size: 1em;

}
#bodycopy{
  font-family: "century gothic", helvetica, sans-serif;
  text-align: center;
}
#nav{
  padding: 0;
}

#nav li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited{
  display: block;
  color: #fff;
  background-color: #a94dff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: helvetica, arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #4f0099;
}

#footer {
  text-align: right;
  color: black;
  font-family: Georgia, "Times New Roman", Serif;
  font-size: .8em;
  border-top: 3px solid #a94dff;
}

#links a:hover, a:active {
  background-color: #e6e6fa;
  font-size: .9em;
}
img {
  border-style: none;
}

a:link {
  color: #4f0099;
}

link{
  color: #4f0099;
}
